{% render 'partials/head.liquid', title: 'Lessons' %}
<main>
    <h1>Lessons</h1>
    <ul class="methode-knop">
        <li><button>1.Listening</button></li>
    </ul>


    <section class="eigen-playlists">
        <h2>Own playlist</h2>
       {% render 'partials/playlists.liquid', playlists : playlists %}
    </section>

    <section class="all-stories">

        <h2>All stories</h2>
        <div>
            <div>
                <button>Dutch</button>
                <button>English</button>
            </div>
            <div>
                <a href="/stories">Show all</a>
            </div>
        </div>

        {% render 'partials/stories.liquid', stories: stories %}
    </section>

</main>
{% render 'partials/footer.liquid'%}